.item {
  padding: 10px 0 10px 0;
  display: flex;
  text-align: center;
}

.item .type, .item .amount {
  flex-basis: 20%;
}

.item .description {
  flex-basis: 35%;
}

.button {
  flex-basis: 25%;
  align-items: center;
  text-align: center;
}

.button button {
  margin: 0 5px 0 5px;
  font-weight: bold;
}

.button button:active {
  transform: scale(0.95);
}