.form {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.form button {
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
}
